/* Logo */
#logo{
    color: #04D9FF;
    filter: drop-shadow(10px 10px 10px #04D9FF);
    transition: color 0.3s ease;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    font-style: italic;
}



/* body backgroundcolor */
.color{
    background-color: #0C2335;
    /* background-color: #BFC6CD; */

}
.bgimage {
    background-image: url(./body1.png);
    height: 650px;
    margin-left: 45%;
    object-fit:cover;
    background-repeat: no-repeat;
    background-position: center;
}


.hero_title {
    font-size: 3rem;
    font-style: italic;
    color:white
}

.hero_title:hover{
    filter: drop-shadow(10px 10px 10px #04D9FF);
}
.hero_desc {
    font-size: 2rem;
    font-style: italic;
    color: white;
}
.hero_desc:hover{

    filter: drop-shadow(10px 10px 10px #04D9FF);
}

/* Download Button */
#download-button{
 
    background-color: #04D9FF;
    color: #0C2335;
    border: none !important;
    border-radius: 5px;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}
#download-button:hover{
    box-shadow: 0px 0px 30px #04D9FF;
}



/* Main banner */
#FED{
    color: #04D9FF;
    filter: drop-shadow(10px 10px 10px #04D9FF);
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.hero-text a{
    padding: 1rem;
}

 

/* About section */

.imageAboutPage {
    width: 100%;
}

#about{
    font-style: italic;
    background-color: #323846;
    color: white;
}

#NA li a{
    font-weight: bold;
    font-style: italic;
    font-size: large;
    letter-spacing: 5px;
    align-items: center;
    color: aliceblue;
}
#NA li a:hover{
    text-decoration: underline;
    color: #04D9FF;
    filter: drop-shadow(10px 10px 10px #04D9FF);

}




/* Services section */
#services{
    color: white;
    background-color: #1F252B;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#card-body{
    background-color:#323846;
    color: white;
    border: none;
}

.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}

.servicesText:hover {
    border: 1px solid #04D9FF;
}



/* Social icon On Home Page */
.social-icons {
    font-size: 36px;
    cursor: pointer;
    color: #04D9FF;
}

#icons-logo{
    color: #04D9FF;
}
#icons-logo:hover{
    filter: drop-shadow(10px 10px 10px #04D9FF);
}



/* Navbar */
.navbarScroll.navbarDark {
    background-color: #0C2335;
    height: 70px;
}




/* Portfolio */
#portfolio{
    background-color: #323846;
    color: white;
}
#portcardbody{
    background-color: #1F252B;
    color: white;
}
#btn1{
    color: white;
    background-color: #04D9FF;
}
#btn1:hover{
   box-shadow: 0px 0px 30px #04D9FF;
}



/* contect me */
.upper{
    background-color: #1F252B;
    height: 500px;
}
.field {
    margin-bottom: 10px;
  }
  
  .field label {
    display: block;
    font-size: 20px;
    color: white;
  }
  
  .field input {
    display: block;
    min-width: 250px;
    line-height: 1.5;
    font-size: 14px;
  }
  
  input[type="submit"] {
    display: block;
    padding :14px;
    font-size: 24px;
    width: 100%;
    background-color: #04D9FF;
    color: #fff;
    border: none;
    margin-top: 30px;
  }
  input[type="submit"]:hover{
    box-shadow: 0px 0px 30px #04D9FF;
    cursor: pointer;
  }
  input[type="text"] {
    height: 50px;
    width: 100%;
    color: black;

  }
