#Portfolio{
    color: #04D9FF;
    filter: drop-shadow(10px 10px 10px #04D9FF);
    transition: color 0.3s ease;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    font-style: italic;
}
.color{
    background-color: #0C2335;
    /* background-color: #BFC6CD; */

}
.bgimage {
    background-image: url(./body1.png);
    height: 650px;
    margin-left: 45%;
    object-fit:cover;
    background-repeat: no-repeat;
    background-position: center;
}


.hero_title {
    font-size: 3rem;
    font-style: italic;
    color:white
}

.hero_title:hover{
    filter: drop-shadow(10px 10px 10px #04D9FF);
}
.hero_desc {
    font-size: 2rem;
    font-style: italic;
    color: white;
}
.hero_desc:hover{

    filter: drop-shadow(10px 10px 10px #04D9FF);
}
#FED{
    color: #04D9FF;
    filter: drop-shadow(10px 10px 10px #04D9FF);
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.hero-text a{
    padding: 1rem;
}
#download-button{
 
    background-color: #04D9FF;
    color: #0C2335;
    border: none !important;
    border-radius: 5px;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}
#download-button:hover{
    box-shadow: 0px 0px 30px #04D9FF;
}


.imageAboutPage {
    width: 100%;
}

#about{
    font-style: italic;
}

#NA li a{
    font-weight: bold;
    font-style: italic;
    font-size: large;
    letter-spacing: 5px;
    align-items: center;
    color: aliceblue;
}
#NA li a:hover{
    text-decoration: underline;
    color: #04D9FF;
    filter: drop-shadow(10px 10px 10px #04D9FF);

}

.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color:#04D9FF;
}
.servicesText:hover {
    border: 1px solid #04D9FF;
}
.navbarScroll.navbarDark {
    background-color: #0C2335;
    height: 70px;
}

.social-icons {
    font-size: 36px;
    cursor: pointer;
    color: #04D9FF;
}

#icons-logo{
    color: #04D9FF;
}
#icons-logo:hover{
    filter: drop-shadow(10px 10px 10px #04D9FF);
}

/* contect me */
.contect{
     margin-top: 50px;
     margin-bottom: 20px;
  }
  
  .field label {
    display: block;
    font-size: 1rem;
    color: black;

  }
  
  .field input {
    display: block;
    min-width: 250px;
    line-height: 1.5;
    font-size: 14px;
  }
  
  input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #04D9FF;
    color: #fff;
    border: none;
    margin-top: 10px;
  }
  
  input[type="text"] {
    display: block;
    font-size: 1rem;
    width: 100%;
    height: 50px;
  }